{% extends 'base.html' %} {% load i18n %} {% block title %}بازنشانی رمز عبور
انجام شد{% endblock title %} {% block content %}
<div
  class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3"
>
  <div class="flex-grow-1 mx-auto" style="max-width: 28rem">
    <h1>{{ _("بازنشانی رمز عبور انجام شد") }}</h1>
    <p>{{ _("لینک بازنشانی رمز عبور به ایمیل شما ارسال شد.") }}</p>
    <p>
      <a href="{% url 'accounts:login' %}">{{ _("به صفحه ورود بروید") }}</a>
    </p>
  </div>
</div>
{% endblock content %}
