{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
    <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
        <div class="text-center mb-5 mb-md-7">
            <h1 class="h2">بازنشانی رمز عبور</h1>
            <p>رمز عبور جدید خود را وارد کنید.</p>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="mb-4">
                <label class="form-label" for="newPassword1">رمز عبور جدید</label>
                <input type="password" class="form-control form-control-lg text-center" name="new_password1"
                       id="newPassword1" placeholder="رمز عبور جدید" required>
            </div>
            <div class="mb-4">
                <label class="form-label" for="newPassword2">تأیید رمز عبور جدید</label>
                <input type="password" class="form-control form-control-lg text-center" name="new_password2"
                       id="newPassword2" placeholder="تأیید رمز عبور جدید" required>
            </div>
            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary btn-lg">بازنشانی رمز عبور</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
